{{!< default}}
<main class="content contentpost {{#foreach tags}}{{#if @first}}{{encode name}}{{/if}}{{/foreach}}" role="main">
    <article class="contentpost_inner {{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        {{#post}}
        {{#if tags}}<span class="contentpost_meta">{{tags separator=" · "}}</span>{{/if}}
        <h1 class="contentpost_headline post-title" itemprop="url" data-pjax title="{{{title}}}">{{{title}}}</h1>
        <section class="contentpost_articlecontent post-content">
            {{content}}
        </section>
        <footer class="contentpost_footer post-footer">
            <div class="contentpost_footerbar">
                <section class="contentpost_sidebar_meta clearfix">
                    <h5>Published by Mr.Coffee</h5>
                    <time>{{date format='YYYY-MM-DD HH:mm:SS'}}</time>
                </section>
            </div>
        </footer>
        {{/post}}
    </article>
</main>